@charset "utf-8";

* {margin:0px; padding:0px;}



#topo {margin: 5px; width:1200px; height:143px; margin-top:10px;}



#img_topo { width:1189px; height:143px; margin: 0px 0px 0px 0px; text-align:center; background-image: url(../_images/Faixada_FD.jpg); position:absolute;}